.cart-container {
    background-color: rgba(173, 216, 230, .9);
    width: 420px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
}

.cart-header {
    display: flex;
    height: 54px;
    margin-bottom: 21px;
}
.cart-header .title {
    line-height: 54px;
    text-align: center;
    flex: 1;
    letter-spacing: 1px;
}

.cart-header .close i {
    font-size: 27px;
    width: 54px;
    padding: 15px;
    color: #434242;
}


.hidden {
    display: none;
}