:root {
    --cart-width: 360px;
}
.cart-container {
    background-color: rgba(173, 216, 230, .97);
    width: var(--cart-width);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transition: all ease 0.3s;
    z-index: 5;
}

.cart-header {
    display: flex;
    height: 54px;
    margin-bottom: 21px;
}
.cart-header .title {
    line-height: 54px;
    text-align: center;
    flex: 1;
    letter-spacing: 1px;
}
.cart-header .close i {
    font-size: 27px;
    width: 54px;
    padding: 15px;
    color: #434242;
    cursor: pointer;
}

.cart-content {
    padding: 0 30px;
}
.cart-item {
    display: flex;
}

.cart-item .info {
    padding: 0 12px;
    width: fit-content;
    display: flex;
    flex-flow: column;
}
.cart-item a {
    color: #303030;
}
.cart-item .info>div {
    flex: 1;
    margin-top: 8px;
}
.cart-item .info>div {
    color: #727272;
}
.cart-item .info>div span:first-child {
    font-size: 14px;
    font-weight: lighter;
}
.cart-item .info>div span:last-child {
    color: #424242;
    font-weight: bold;
}
.cart-item .close i {
    font-size: 24px;
    color: #727272;
    cursor: pointer;
}
.cart-item .close i:hover {
    color: #111;
}
.cart-item .item-thumbnail img {
    width: 90px;
    border-radius: 9px;
}


.cart-content .footer {
    margin: 18px 0;
}
.cart-content .footer>div:first-child {
    border-top: 2px solid rgba(0, 0, 0, .1);
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}

.cart-content>div p {
    text-align: center;
    margin: 18px 0;
}
.cart-content>div p strong {
    color: #424242;
    font-size: 15px;
}
.cart-content>div p span {
    font-weight: bold;
}
.cart-content .footer button {
    background-color: #007784;
    padding: 12px 24px;
    width: 100%;
    color: white;
    font-weight: bold;
    border: 1px solid #727272;
    margin-top: 24px;
    cursor: pointer;
}

.hide-cart {
    margin-right: calc(-1 * var(--cart-width));
}