@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
::-webkit-scrollbar {
    display: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: #e2e2e2;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}

header {
    height: 93px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 3;
}

.flex-row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 55px;
    margin-right: 55px;
}

.header-inner {
    height: 100%;
    justify-content: space-between;
}


.logo p {
    font-style: italic;
    font-size: .9em;
    margin: 12.24px 0;
    color: #777;
}

.search-box {
    width: 669px;
    position: relative;
}

.search-box input {
    color: #777;
    width: 100%;
    height: 33px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 99px;
    background-color: rgba(0, 0, 0, .03);
}

.search-box input:active,
.search-box input:focus {
    outline: none;
}

.search-box button {
    border: none;
    position: absolute;
    right: 1%;
    top: 15%;
    color: gray;
    background: none;
    font-size: 18px;

}

.stuffs {
    /* flex: 2; */
    width: 112px;
}

.stuffs ul {
    justify-content: space-between;
}

.login-btn {
    border-radius: 99px;
    background-color: rgb(77, 183, 179);
}

.login-btn span {
    color: white;
    font-size: 12.8px;
    font-weight: bold;  
    line-height: 30.72px;
    padding: 0 8px;
    cursor: pointer;
}

.header-divider {
    border-left: 1px solid rgba(0, 0, 0, .1);
    height: 30px;
}

.header-cart {
    position: relative;
}
.header-cartQuantity {
    position: absolute;
    color: white;
    font-size: 10px;
    background-color: lightcoral;
    padding: 12.5% 25%;
    border-radius: 99px;
    top:-50%;
    right:-50%;
    display: none;
}
.header-cart i {
    color: rgb(77, 183, 179);
    cursor: pointer;
}

nav {
    background-color: #424242;
}

nav ul {
    justify-content: flex-start;
}

nav ul li:not(:last-child) {
    margin-right: 7px;
}

nav ul li:not(:first-child) {
    margin-left: 7px;
}


nav li {
    color: #ccc;
    cursor: pointer;
}

.container .nav-bar>li a {
    line-height: 47px;
    font-size: 14px;
    font-weight: 550;
    letter-spacing: 1px;
}

.nav-bar {
    align-items: center;
    display: flex;
}
.nav-bar .nav-item:hover {
    color: white;
    transition: 0.3s ease-in-out;
}
.in-use {
    color: white !important;
}

.social {
    margin-left: auto;
    flex: 1;
}
.social a {
    color: white;
}

.social ul {
    justify-content: flex-end;
}

.social li>a {
    margin: 0 4.9px;
}

/* === HEADER ===*/

main {
    margin-top: 47px;
}

/*============================*/
/*-----------FOOTER-----------*/
/*============================*/

footer {
    background-color: #00377f;
    /* display: flex; */
    color:white;
    padding: 20px;
}
footer .footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
footer .footer p {
    line-height: 1.3em;
}
footer .footer div {
    margin-left: 200px;
}
footer .footer img {
    width: 80px;
    margin-right: 200px;
}


.hidden {
    display: none;
}
